.not-found {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  line-height: 169px;
}

.not-found__text {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 19px;
}

.not-found__button {
  min-width: 100px;
  font-size: 14px;
  line-height: 17px;
  color: #2be080;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 60px;
}
