.landing {
  position: relative;
  background: url(../../images/landing-logo.svg) no-repeat;
  background-position: center 82px;
  background-color: #5c5c5c;
  background-size: 320px 320px;
  width: 100%;
  min-height: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing__title {
  width: 60%;
  margin: 0 0 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .landing {
    min-height: 784px;
    background-position: center 224px;
  }

  .landing__title {
    width: 100%;
    margin-bottom: 18px;
  }
}
