.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  justify-content: center;
  align-items: center;
}

.navigation_hidden {
  display: none;
}

.navigation__movies {
  grid-column: 2;
}

.navigation__authentication {
  grid-column: 3;
}

.navigation__profile {
  grid-column: 3;
}

.navigation__links {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
}

.navigation__links_movies {
  justify-content: center;
  gap: 16px;
}

.navigation__links_authentication {
  justify-content: flex-end;
  gap: 30px;
}

.navigation__links_profile {
  justify-content: flex-end;
  gap: 13px;
}

.navigation__link {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link_login {
  height: 32px;
  width: 76px;
  background-color: #2be080;
  border-radius: 3px;
}

.navigation__link_register {
  color: #fff;
}

.navigation__link_movies {
  font-size: 13px;
  line-height: 1.38;
}

.navigation__link_saved-movies {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38;
}

.navigation__link_profile {
  font-size: 14px;
  line-height: 1.14;
}

.navigation__link_profile-button {
  width: 30px;
  height: 30px;
  background: url("../../images/icon-profile.svg") no-repeat center center;
  background-color: #f9f9f9;
  border-radius: 6px;
}
