.header {
  width: 100%;
  min-height: 74px;
  padding: 0 70px;
  box-sizing: border-box;
  background-color: #5c5c5c;
  display: flex;
  align-items: center;
}

.header_background_none {
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 30px;
  }
}
