.project {
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
  padding: 110px 0;
  box-sizing: border-box;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style-type: none;
  padding-inline-start: 0;
}

.description__title {
  margin: 70px 0 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.description__paragraph {
  margin: 26px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
}

.chrono {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}

.chrono__bar {
  margin: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chrono__bar_position_left {
  background-color: #2be080;
}

.chrono__bar_position_rigth {
  background-color: #f2f2f2;
}

.chrono__description {
  margin: 0;
  margin-top: 14px;
  font-weight: 500;
  color: #a0a0a0;
}
