.about-project {
  padding: 110px 0;
}

.description {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style-type: none;
  padding-inline-start: 0;
}

.description__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.description__paragraph {
  margin: 26px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
}

.chrono {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 36px auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}

.chrono__bar {
  margin: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chrono__bar_position_left {
  background-color: #2be080;
}

.chrono__bar_position_rigth {
  background-color: #f2f2f2;
}

.chrono__description {
  margin: 0;
  margin-top: 14px;
  font-weight: 500;
  color: #a0a0a0;
}

@media screen and (max-width: 1000px) {
  .about-project {
    padding: 90px 0;
  }

  .description__paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .description {
    gap: 30px;
  }

  .chrono {
    margin-top: 93px;
    grid-template-columns: 21% 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 70px 0;
  }

  .description {
    margin-top: 60px;
    grid-template-columns: 1fr;
    gap: 57px;
  }

  .description__title {
    font-size: 18px;
  }

  .description__paragraph {
    margin-top: 17px;
    font-size: 11px;
    line-height: 16px;
  }

  .chrono {
    margin-top: 60px;
    grid-template-columns: 100px 1fr;
    font-size: 11px;
    line-height: 13px;
  }

  .chrono__description {
    margin-top: 9px;
  }
}
