.section {
  position: relative;
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .section {
    width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 500px) {
  .section {
    width: calc(100% - 2 * 18px);
  }
}
