.technology {
  padding: 100px 0;
}

.technology__title {
  margin: 0;
  margin-top: 90px;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.technology__subtitle {
  max-width: 45%;
  margin: 26px auto 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
}

.technology__list {
  width: 100%;
  display: grid;
  margin: 100px auto 0;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: center;
  justify-items: center;
}

.technology__name {
  margin: 0;
  width: inherit;
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  border-radius: 10px;
  background-color: #e8e8e8;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1000px) {
  .technology {
    padding: 90px 0;
  }
  .technology__title {
    margin-top: 80px;
  }
  .technology__subtitle {
    max-width: 60%;
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
  .technology__list {
    margin-top: 83px;
    grid-template-columns: repeat(auto-fill, 84px);
  }
  .technology__name {
    font-size: 12px;
    line-height: 15px;
    min-height: 57px;
  }
}

@media screen and (max-width: 500px) {
  .technology {
    padding: 70px 0;
  }
  .technology__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }
  .technology__subtitle {
    max-width: 100%;
    margin-top: 24px;
    font-size: 11px;
    line-height: 16px;
  }
  .technology__list {
    margin-top: 50px;
    grid-template-columns: repeat(2, 84px);
  }
}
