.technology {
  padding: 100px 0;
}

.technology__title {
  margin: 0;
  margin-top: 90px;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.technology__subtitle {
  max-width: 45%;
  margin: 26px auto 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
}

.technology__list {
  display: grid;
  margin: 100px auto 0;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: center;
  justify-items: center;
}

.technology__name {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 90px;
  min-height: 60px;
  border-radius: 10px;
  background-color: #e8e8e8;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}
